//- include Variables & Mixins
include ../core/core.jade
include ../core/variables.jade
include ../core/mixins.jade

doctype html

html
	head
		meta(charset='utf-8')
		//- Don't use the viewport-TAG in E-Mails
		//-meta(name='viewport' content='width=device-width, initial-scale=1')
		
		//- Include this when you've created a responsive CSS-File
		//-style(type="text/css")
		//-	include ../../../dist/css/main.css
	
		body()
			+table
				block body