+table(3,1)(
	cell2={ style: footerText },
	cell3={ style: footerText }
)
	+cellBlock('cell1')
		h3(style=footerHeading) Kündigungshilfe
	+cellBlock('cell2')
		| Gerne helfen wir Ihnen mit einer Vorlage, den Vertrag bei Ihrem bisherigen Provider zu kündigen.
	+cellBlock('cell3')
		a(href="http://www.ewwwb.ch/Cms_Data/Contents/ewb-2point5/Media/angebote/Kuendigungshilfe_ewb.doc", target="_blank", style=footerLink) Download