+table(3,1)(
	cell2={ style: footerText },
	cell3={ style: footerText }
)
	+cellBlock('cell1')
		h3(style=footerHeading) Mutationen bestehnde Abos
	+cellBlock('cell2')
		| Sie möchten Ihr Abo anpassen? Unser Kundencenter ist für Sie da.
	+cellBlock('cell3')
		a(href="http://www.ewb.ch/de/kundencenter.html", target="_blank", style=footerLink) www.ewb.ch/kundencenter