//- Footer
+table(1,1)(
	table = { id: "footer", cellpadding: 50, width: "100%", bgcolor: hueGreyLight, style: { "box-shadow": "inset 0 0 180px 25px " + hueGrey } },
	cell1={ class: "contentarea" }
)
	+cellBlock('cell1')

		// Responsive Table
		+table(1,3)(
			table={ class: "xs-block" },
			cell1={ style: { width: "50%" } },
			cell2={ width: lineBreak },
			cell3={ style: { width: "50%" } }
		)
			+cellBlock('cell1')
				//- Contenttable Left
				+table(3,1)(
					cell2={ height: lineBreak }
				)
					//- Infoline
					+cellBlock('cell1')
						include footer-infoline.jade
					//- Kündigung
					+cellBlock('cell3')
						include footer-termination.jade
			
			+cellBlock('cell3')
				//- Contenttable Right
				+table(3,1)(
					cell2={ height: lineBreak }
				)
					//- Mutationen
					+cellBlock('cell1')
						include footer-mutation.jade
					//- Socialmedia
					+cellBlock('cell3')
						include footer-social.jade