//- include Variables & Mixins
include ../core/variables.jade
include ../core/mixins.jade

doctype html

html
	head
		meta(charset='utf-8')
		//meta(name='viewport' content='width=device-width, initial-scale=1')
		include styles.jade
	
	body(style=mergeStyles({ margin: 0, padding: 0 }, baseText))
		block body