//- Unsubscribe
+table(1,1)(
	table={ style: unsubscribe },
	cell1={ align: "center" }
)
	+cellBlock('cell1')
		p(style=unsubscribeText) Möchten Sie in Zukunft keine Informationen mehr von uns per Newsletter erhalten, so klicken Sie bitte&nbsp;
			a(href="#", target="_blank", style=unsubscribeLink) hier
		
