extends ../shared/layout.jade

block body
	include ../_dict/dict.jade

	h1!=translate('GROUP_NAME-KEYNAME_1')

	+table(9,1)(
		cell2={ height: lineBreak },
		cell4={ height: lineBreak },
		cell6={ height: lineBreak },
		cell8={ height: lineBreak }
	)
		+cellBlock('cell1')
			!=translate('GROUP_NAME-KEYNAME_2', ['GROUP_NAME-KEYNAME_3'])
		+cellBlock('cell3')
			!=translate('GROUP_NAME-KEYNAME_5')
	