include ../core/mixins.pug

doctype html

html(
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:v="urn:schemas-microsoft-com:vml"
	xmlns:o="urn:schemas-microsoft-com:office:office"
)
	head
		meta(charset='utf-8')
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name='viewport' content='width=device-width, initial-scale=1')
		link(href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet")

		title Inbox preview text
		
		//- Styles for mobile, fonts and almost decent mail clients
		style
			include ../../../dist/css/main.css
		
		//- Outlook fixes for high dpi and custom font
		include ../core/outlook-fix.html

	body
		span.hidden Inbox preview text

		+conatiner
			block body