//- Variable Example
//- - var $variable_name = string|number|array|object|method

//- Pictures in HTML-Newsletter should always be on a Server (because they're not included directliy in the send HTML)
//- Example: 'http://yourdomain.com/newsletter-1/gfx/'
-var mediaPath 				= 'gfx/';

-var hueDark 					= '#2a2a2a';

-var baseFont 				= 'arial, helvetica, sans-serif';
-var baseSize 				= '15px';
-var lineBreak 				= baseSize.replace(/px/g,'');
-var baseColor 				= hueDark;

-var baseText 				= { "font-family": baseFont, "font-size": baseSize, "font-weight": "normal", "color": baseColor, "line-height": "1.4" };
-var link 						= { "color": "inherit", "text-decoration": "none" };
-var heading1 				= { "margin": "0", "font-size": "26px", "font-weight": "bold", "text-align": "center", "text-transform": "uppercase" };
-var heading2 				= { "margin": "0", "font-size": "20px", "font-weight": "bold" };
-var heading3 				= { "margin": "0", "font-size": "16px", "font-weight": "bold", "text-align": "center" };
-var seperator				= { "height": "2px", "background-color": "grey", "border": "0 none" };

-var img 							= { "display": "block", "max-width": "100%", "height": "auto", "border": "0 none" };
-var phImgSRC					= mediaPath + 'ph.gif';
-var minLineheight 		= { 'mso-line-height-rule': 'exactly', 'line-height': '0px' };

-var button 					= { "display": "block", "padding-top": "12px", "padding-bottom": "12px", "padding-left": "12px", "padding-right": "12px", "background-color": "red", "font-size": "13px", "font-weight": "bold", "color": "#fff", "text-decoration": "none" }
-var buttonInline 		= { "display": "inline-block", "padding-top": "12px", "padding-bottom": "12px", "padding-left": "12px", "padding-right": "12px", "background-color": "red", "font-size": "13px", "font-weight": "bold", "color": "#fff", "text-decoration": "none" }
-var buttonIcon		 		= { "font-size": "18px", "line-height": "18px", "vertical-align": "middle" };