extends ../shared/layout.pug

block body
	center
		+table
			tr
				+button(href="https://google.ch" style="background:red; padding: 50px 100px;") a new button
		+content(style="background: grey")
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus a voluptatibus quaerat assumenda, tempore! Error quo provident ut consectetur ipsa hic est amet earum unde commodi! Iusto numquam reprehenderit suscipit.