+table(1,1)(
	table = { width: "100%" }
)
	+cellBlock('cell1')
		a(href="http://www.ewwwb.ch", target="_blank", style=bannerLink)
			img(width="580", height="287", style=bannerImg, src=mediaPath + 'banner.jpg', alt="")