+table(1,1)(
	table = { cellpadding: 50, width: "100%", bgcolor: hueGrey },
	cell1={ class: "contentarea" }
)
	+cellBlock('cell1')
		h1(style=heading1) Wir schenken Ihnen was
		h3(style=heading3)  Lorem ipsum dolor sit amet, consectetur adipisicing elit.

		+table(3,1)(
			cell1={ height: lineBreak, style: { "line-height": "1px" } }
		)
			+cellBlock('cell2')
				img(width="480", height="213", style=img, src=mediaPath + 'bern.jpg', alt="")
			+cellBlock('cell3')
				+button('+')(
					button={ href: "http://www.berncity.ch/Geschenkcard" },
					icon={ style: buttonIcon }
				)
					| Mehr Details
