+table(1,1)(
	table={ cellpadding: 50, width: "100%" },
	cell1={ class: "contentarea" },
)
	+cellBlock('cell1')
		+table(15,1)(
			cell2={ height: lineBreak },
			cell4={ height: lineBreak },
			cell6={ height: lineBreak },
			cell8={ height: lineBreak },
			cell10={ height: lineBreak },
			cell12={ height: lineBreak },
			cell14={ height: lineBreak }
		)
			+cellBlock('cell1')
				h2(style=heading2) Lieber Herr Muster
			+cellBlock('cell3')
				| Vielen Dank, dass Sie ewb.INTERNET ein Jahr lang ausprobiert haben. Wir hoffen, unser Angebot konnte Sie begeistern.
			+cellBlock('cell5')
				| Am 31.7.2015 läuft Ihr Testanschluss ab. Jetzt können Sie das ewb.INTERNET-Paket Ihrer Wahl bestellen.  Und mit Try & Buy sogleich <strong>1 Monat lang gratis testen</strong>.
			+cellBlock('cell7')
				| Mit dem Speed Check finden Sie heraus, welches Angebot zu Ihnen passt. Entscheiden Sie sich für ewb.INTERNET.100 oder mehr, erhalten Sie eine <strong>Wilmaa-Box im Wert von CHF 199.- gratis</strong> dazu.
			+cellBlock('cell9')
				| Neu brauchen Sie nur mehr ein einziges Gerät für Ihren Anschluss. Damit Sie sorgenfrei lossurfen können, profitieren Sie von unserer <strong>kostenlosen Heiminstallation</strong>. 
			+cellBlock('cell11')
				+button(null,true)(
					button={ href: "http://www.ewwwb.ch" }
				)
					| Jetzt bestellen!
			+cellBlock('cell13')
				| Wir freuen uns, Sie zu unseren Kunden zu zählen.
			+cellBlock('cell15')
				| Ihr Team von Energie Wasser Bern
		
