include variables.pug

mixin button()
	table
		tr
			td.button
				a.button-link&attributes(attributes)
					block

mixin container
	center.container-wrapper
		div.webkit
			table.container&attributes(attributes)
				tr
					td
						block