- var fontRoman = 'font-family: Arial, sans-serif;'
- var fontLight = 'font-family: Arial, sans-serif; font-weight: 300;'
- var fontBold = 'font-family: Arial, sans-serif; font-weight: 700;'

- var basePadding = 20 // Default padding between elements, e.g. placeholder
- var placeholderUrl = 'data:image/gif;base64,R0lGODlhBQAFAIAAAP///wAAACH5BAEAAAAALAAAAAAFAAUAAAIEhI+pWAA7'